<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Jedi</title>
        <meta name="description" content="Projeto DIO - Introdução ao Padrão MVC">
        <meta name="keywords" content="Java, HTML5, CSS3, elementos semânticos, Grid, Spring Boot - MVC, Thymeleaf">
        <meta name="author" content="Marcel Pinotti">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="sortcut icon" href="../image/Jedi1.svg" type="image/gif"/>;
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poller One" />
    </head>

    <body class="principal1">
        <header class="cabecalho">
            <p>NOVO JEDI <img src="../image/Jedi1.svg" width=65px alt="Logo Jedi"></p>
        </header>

        <section>
            <form th:action="@{/jedi}" th:object="${jedi}" method="post">
                <p>Cadastrar</p>
                <br/>
                <input type="text" name="name"     th:field="*{name}"     th:placeholder="Name"/>
                <br/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                <br/>
                <br/>
                <input type="text" name="lastname" th:field="*{lastname}" th:placeholder="Lastname"/> <br/>
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">LastName Error</span>
                <br/>
                <br/>
                <button type="submit">NOVO JEDI</button>
                <br/>
            </form>
            <br>
            <a class="a1" href="#" th:href="@{/jedi}">| JEDI |</a>
        </section>

        <footer>
            <div class="rodape1">
                <em>Desenvolvido por <strong>Marcel Pinotti | <a href="https://www.linkedin.com/in/marcelpinottidev" target="_blank"><img class="imageLinkedIn" src="image/linkedIn.png" alt="Logo LinkedIn"></img></a> | <a href="https://github.com/marcelpinotti" target="_blank"><img class="imageGitHub" src="image/gitHub.png" alt="Logo GitHub"></img></a> </strong> - 2021</em>
            </div>
        </footer>
    </body>
</html>